<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>OSINT Platform</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <div class="container">

        <h1>🛡️ OSINT Security Platform</h1>

        <p>Açık Kaynak Güvenlik Duyarı Takip Sistemi</p>

        <form action="/search" method="POST">

            <input
                type="text"
                name="keyword"
                placeholder="Örneğin: Windows, Cisco, Fortinet"
                required>

            <select name="severity">

                <option value="ALL">Tüm Riskler</option>
                <option value="CRITICAL">Critical</option>
                <option value="HIGH">High</option>
                <option value="MEDIUM">Medium</option>
                <option value="LOW">Low</option>

            </select>

            <select name="source">

                <option value="NVD">NVD</option>
                <option value="CISA">CISA KEV</option>

            </select>

            <button type="submit">
                Güvenlik Duyarısı Ara
            </button>

        </form>

        <br>

        <a class="history-button" href="/history">
            🕘 Arama Geçmişi
        </a>

        <br><br>

        <a class="history-button" href="/dashboard">
            📊 Dashboard
        </a>

    </div>

</body>

</html>